<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Spotify App</title>
      <link rel="stylesheet" href="/styles/style.css">
      <script src="/jquery/jquery.js"></script>
      <script src="/scripts/click-event.js"></script>
  </head>
  <body>
    
      {{{body}}}

  </body>
</html>
